In [93]:
import pandas as pd
import numpy as np

**Load Dataset**

In [94]:
Reactome_id = pd.read_excel('03_Reactome entrez genes ids.xlsx', header = None)
Kegg_id = pd.read_excel('05_KEGG entrez genes ids.xlsx', header = None)
Biocarta_id = pd.read_excel('07_BioCarta entrez genes ids.xlsx', header = None)

**Checking Dataset infomation**

In [104]:
Reactome_id

1488

In [96]:
Kegg_id

,0,1,2,3,4,5,6,7,8,9,...,381,382,383,384,385,386,387,388,389,390
0,KEGG_GLYCOLYSIS_GLUCONEOGENESIS,http://www.gsea-msigdb.org/gsea/msigdb/cards/K...,55902,2645,5232,5230,5162,5160,5161,55276,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KEGG_CITRATE_CYCLE_TCA_CYCLE,http://www.gsea-msigdb.org/gsea/msigdb/cards/K...,3420,1743,5106,1431,5162,5105,5160,5161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KEGG_PENTOSE_PHOSPHATE_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/K...,6120,22934,55276,25796,5634,8789,5213,5211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KEGG_PENTOSE_AND_GLUCURONATE_INTERCONVERSIONS,http://www.gsea-msigdb.org/gsea/msigdb/cards/K...,54575,54576,6120,54577,54578,54490,54579,51084,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KEGG_FRUCTOSE_AND_MANNOSE_METABOLISM,http://www.gsea-msigdb.org/gsea/msigdb/cards/K...,4351,5373,5372,8789,5213,2762,5210,5211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,KEGG_PRIMARY_IMMUNODEFICIENCY,http://www.gsea-msigdb.org/gsea/msigdb/cards/K...,7535,920,115650,8517,3561,5994,6891,5993,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,KEGG_HYPERTROPHIC_CARDIOMYOPATHY_HCM,http://www.gsea-msigdb.org/gsea/msigdb/cards/K...,781,782,783,784,785,786,7124,3680,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,KEGG_ARRHYTHMOGENIC_RIGHT_VENTRICULAR_CARDIOMY...,http://www.gsea-msigdb.org/gsea/msigdb/cards/K...,781,782,783,784,785,786,3680,59283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,KEGG_DILATED_CARDIOMYOPATHY,http://www.gsea-msigdb.org/gsea/msigdb/cards/K...,781,782,783,114,784,115,785,112,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,KEGG_VIRAL_MYOCARDITIS,http://www.gsea-msigdb.org/gsea/msigdb/cards/K...,842,841,3111,3112,941,942,940,8672,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
Biocarta_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 83 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       289 non-null    object
 1   1       289 non-null    object
 2   2       289 non-null    int64
 3   3       289 non-null    int64
 4   4       289 non-null    int64
 5   5       289 non-null    int64
 6   6       289 non-null    int64
 7   7       278 non-null    float64
 8   8       265 non-null    float64
 9   9       252 non-null    float64
 10  10      237 non-null    float64
 11  11      225 non-null    float64
 12  12      212 non-null    float64
 13  13      193 non-null    float64
 14  14      181 non-null    float64
 15  15      167 non-null    float64
 16  16      150 non-null    float64
 17  17      132 non-null    float64
 18  18      124 non-null    float64
 19  19      108 non-null    float64
 20  20      101 non-null    float64
 21  21      84 non-null     float64
 22  22      76 non-null     float64
 23  23      66 non-null     float64
 24  24      56 non-null     float64
 25  25      47 non-null     float64
 26  26      39 non-null     float64
 27  27      36 non-null     float64
 28  28      32 non-null     float64
 29  29      26 non-null     float64
 30  30      23 non-null     float64
 31  31      19 non-null     float64
 32  32      17 non-null     float64
 33  33      16 non-null     float64
 34  34      16 non-null     float64
 35  35      13 non-null     float64
 36  36      10 non-null     float64
 37  37      10 non-null     float64
 38  38      9 non-null      float64
 39  39      7 non-null      float64
 40  40      7 non-null      float64
 41  41      6 non-null      float64
 42  42      6 non-null      float64
 43  43      6 non-null      float64
 44  44      6 non-null      float64
 45  45      6 non-null      float64
 46  46      5 non-null      float64
 47  47      5 non-null      float64
 48  48      4 non-null      float64
 49  49      4 non-null      float64
 50  50      4 non-null      float64
 51  51      4 non-null      float64
 52  52      4 non-null      float64
 53  53      3 non-null      float64
 54  54      2 non-null      float64
 55  55      2 non-null      float64
 56  56      2 non-null      float64
 57  57      2 non-null      float64
 58  58      1 non-null      float64
 59  59      1 non-null      float64
 60  60      1 non-null      float64
 61  61      1 non-null      float64
 62  62      1 non-null      float64
 63  63      1 non-null      float64
 64  64      1 non-null      float64
 65  65      1 non-null      float64
 66  66      1 non-null      float64
 67  67      1 non-null      float64
 68  68      1 non-null      float64
 69  69      1 non-null      float64
 70  70      1 non-null      float64
 71  71      1 non-null      float64
 72  72      1 non-null      float64
 73  73      1 non-null      float64
 74  74      1 non-null      float64
 75  75      1 non-null      float64
 76  76      1 non-null      float64
 77  77      1 non-null      float64
 78  78      1 non-null      float64
 79  79      1 non-null      float64
 80  80      1 non-null      float64
 81  81      1 non-null      float64
 82  82      1 non-null      float64
dtypes: float64(76), int64(5), object(2)
memory usage: 187.5+ KB

**Combine Dataset**

In [98]:
Reactome_N = Reactome_id.drop([0,1],axis = 1)
Kegg_N = Kegg_id.drop([0,1],axis = 1)
Biocarta_N = Biocarta_id.drop([0,1], axis = 1)

ReacName = Reactome_id[[0,1]]
KeggName = Kegg_id[[0,1]]
BioName = Biocarta_id[[0,1]]

In [99]:
Kegg_N

,2,3,4,5,6,7,8,9,10,11,...,381,382,383,384,385,386,387,388,389,390
0,55902,2645,5232,5230,5162,5160,5161,55276,7167,84532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3420,1743,5106,1431,5162,5105,5160,5161,283398,2271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6120,22934,55276,25796,5634,8789,5213,5211,6888,7086,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,54575,54576,6120,54577,54578,54490,54579,51084,7358,10941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4351,5373,5372,8789,5213,2762,5210,5211,9107,7167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,7535,920,115650,8517,3561,5994,6891,5993,925,926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,781,782,783,784,785,786,7124,3680,3479,6262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,781,782,783,784,785,786,3680,59283,6262,3728,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,781,782,783,114,784,115,785,112,786,113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,842,841,3111,3112,941,942,940,8672,3683,3383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
concat_df_kegg = pd.DataFrame(columns= np.arange(Kegg_N.columns[-1]+1,Reactome_id.columns.size))
concat_df_bio = pd.DataFrame(columns= np.arange(Biocarta_N.columns[-1]+1,Reactome_id.columns.size))

In [101]:
Kegg_N = pd.concat([Kegg_N,concat_df_kegg],axis = 1)
Biocarta_N = pd.concat([Biocarta_N,concat_df_bio],axis = 1)

In [102]:
Kegg_N

,2,3,4,5,6,7,8,9,10,11,...,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487
0,55902,2645,5232,5230,5162,5160,5161,55276,7167,84532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3420,1743,5106,1431,5162,5105,5160,5161,283398,2271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6120,22934,55276,25796,5634,8789,5213,5211,6888,7086,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,54575,54576,6120,54577,54578,54490,54579,51084,7358,10941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4351,5373,5372,8789,5213,2762,5210,5211,9107,7167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,7535,920,115650,8517,3561,5994,6891,5993,925,926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,781,782,783,784,785,786,7124,3680,3479,6262,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,781,782,783,784,785,786,3680,59283,6262,3728,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,781,782,783,114,784,115,785,112,786,113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,842,841,3111,3112,941,942,940,8672,3683,3383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
overlap_index = []
for i in range(len(Reactome_N)):
    for j in range(len(Kegg_N)):
        if Reactome_N.iloc[[i]].equals(Kegg_N.iloc[[j]]) :
            overlap_index.append(j)

In [107]:
overlap_index

[]

In [119]:
all_dataName = pd.concat([ReacName,KeggName],axis = 0)
all_Data_N = pd.concat([Reactome_N,Kegg_N],axis = 0)

all_dataName.reset_index(drop = True)
all_Data_N.reset_index(drop = True)

,2,3,4,5,6,7,8,9,10,11,...,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487
0,5256,8908,5255,5837,5836,5834.0,5257.0,5261.0,178.0,2992.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6224,23395,6301,51121,55173,84545.0,29927.0,60488.0,64951.0,1975.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,151531,1890,51733,64902,84618,51251.0,30833.0,4907.0,1807.0,7378.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,996,29945,7321,51433,8697,25906.0,991.0,8881.0,51529.0,64682.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5166,5164,51660,1431,3029,4199.0,3421.0,5165.0,6389.0,4200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1680,7535,920,115650,8517,3561,5994.0,6891.0,5993.0,925.0,926.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1681,781,782,783,784,785,786.0,7124.0,3680.0,3479.0,6262.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1682,781,782,783,784,785,786.0,3680.0,59283.0,6262.0,3728.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1683,781,782,783,114,784,115.0,785.0,112.0,786.0,113.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1684,842,841,3111,3112,941,942.0,940.0,8672.0,3683.0,3383.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
overlap_index = []
for i in range(len(all_Data_N)):
    for j in range(len(Biocarta_N)):
        if all_Data_N.iloc[[i]].equals(Biocarta_N.iloc[[j]]) :
            overlap_index.append(j)

print(overlap_index)

[]

In [121]:
all_Data_N = pd.concat([all_Data_N,Biocarta_N],axis = 0)
all_dataName = pd.concat([all_dataName,BioName],axis = 0)

all_dataName.reset_index(drop = True)
all_Data_N.reset_index(drop = True)

,2,3,4,5,6,7,8,9,10,11,...,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487
0,5256,8908,5255,5837,5836,5834.0,5257.0,5261.0,178.0,2992.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6224,23395,6301,51121,55173,84545.0,29927.0,60488.0,64951.0,1975.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,151531,1890,51733,64902,84618,51251.0,30833.0,4907.0,1807.0,7378.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,996,29945,7321,51433,8697,25906.0,991.0,8881.0,51529.0,64682.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5166,5164,51660,1431,3029,4199.0,3421.0,5165.0,6389.0,4200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,5901,5902,5905,5903,1104,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,22943,8321,27123,7479,7478,79412.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,3576,1991,1990,2896,6590,63036.0,51032.0,23436.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,3458,3716,3459,3460,3717,6772.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,6844,6616,1134,1128,6804,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
all_Data = pd.concat([all_dataName,all_Data_N],axis = 1)

all_Data.reset_index(drop = True)

,0,1,2,3,4,5,6,7,8,9,...,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487
0,REACTOME_GLYCOGEN_BREAKDOWN_GLYCOGENOLYSIS,http://www.gsea-msigdb.org/gsea/msigdb/cards/R...,5256,8908,5255,5837,5836,5834.0,5257.0,5261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,REACTOME_TRANSLATION,http://www.gsea-msigdb.org/gsea/msigdb/cards/R...,6224,23395,6301,51121,55173,84545.0,29927.0,60488.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,REACTOME_PYRIMIDINE_CATABOLISM,http://www.gsea-msigdb.org/gsea/msigdb/cards/R...,151531,1890,51733,64902,84618,51251.0,30833.0,4907.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,REACTOME_INHIBITION_OF_THE_PROTEOLYTIC_ACTIVIT...,http://www.gsea-msigdb.org/gsea/msigdb/cards/R...,996,29945,7321,51433,8697,25906.0,991.0,8881.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,REACTOME_PYRUVATE_METABOLISM_AND_CITRIC_ACID_T...,http://www.gsea-msigdb.org/gsea/msigdb/cards/R...,5166,5164,51660,1431,3029,4199.0,3421.0,5165.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,BIOCARTA_RAN_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/B...,5901,5902,5905,5903,1104,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,BIOCARTA_WNT_LRP6_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/B...,22943,8321,27123,7479,7478,79412.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,BIOCARTA_PEPI_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/B...,3576,1991,1990,2896,6590,63036.0,51032.0,23436.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,BIOCARTA_IFNG_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/B...,3458,3716,3459,3460,3717,6772.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,BIOCARTA_BOTULIN_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/B...,6844,6616,1134,1128,6804,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
Reactome_Sym = pd.read_excel("02_Reactome gene symbols.xlsx",header = None)
Kegg_Sym = pd.read_excel("04_KEGG gene sets and symbols.xlsx",header = None)
Biocarta_Sym = pd.read_excel("06_BioCarta gene symbols.xlsx",header = None)

In [131]:
all_data_Sym = pd.concat([Reactome_Sym,Kegg_Sym,Biocarta_Sym],axis = 0)

In [133]:
all_data_Sym.reset_index(drop = True)

,0,1,2,3,4,5,6,7,8,9,...,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487
0,REACTOME_GLYCOGEN_BREAKDOWN_GLYCOGENOLYSIS,http://www.gsea-msigdb.org/gsea/msigdb/cards/R...,PHKA2,GYG2,PHKA1,PYGM,PYGL,PYGB,PHKB,PHKG2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,REACTOME_TRANSLATION,http://www.gsea-msigdb.org/gsea/msigdb/cards/R...,RPS20,LARS2,SARS,RPL26L1,MRPS10,MRPL43,SEC61A1,MRPS35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,REACTOME_PYRIMIDINE_CATABOLISM,http://www.gsea-msigdb.org/gsea/msigdb/cards/R...,UPP2,TYMP,UPB1,AGXT2,NT5C1A,NT5C3A,NT5C,NT5E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,REACTOME_INHIBITION_OF_THE_PROTEOLYTIC_ACTIVIT...,http://www.gsea-msigdb.org/gsea/msigdb/cards/R...,CDC27,ANAPC4,UBE2D1,ANAPC5,CDC23,ANAPC15,CDC20,CDC16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,REACTOME_PYRUVATE_METABOLISM_AND_CITRIC_ACID_T...,http://www.gsea-msigdb.org/gsea/msigdb/cards/R...,PDK4,PDK2,MPC1,CS,HAGH,ME1,IDH3G,PDK3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,BIOCARTA_RAN_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/B...,RAN,RANBP1,RANGAP1,RANBP2,RCC1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,BIOCARTA_WNT_LRP6_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/B...,DKK1,FZD1,DKK2,WNT8B,WNT8A,KREMEN2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,BIOCARTA_PEPI_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/B...,CXCL8,ELANE,CELA1,GRN,SLPI,CELA2A,CELA2B,CELA3B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,BIOCARTA_IFNG_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/B...,IFNG,JAK1,IFNGR1,IFNGR2,JAK2,STAT1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,BIOCARTA_BOTULIN_PATHWAY,http://www.gsea-msigdb.org/gsea/msigdb/cards/B...,VAMP2,SNAP25,CHRNA1,CHRM1,STX1A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**from DataFrame to excel file**

In [135]:
all_data_Sym.to_excel("09_AllDB gene symbols.xlsx", index = None, header = None)
all_Data.to_excel("10_AllDB entrez genes ids.xlsx", index = None, header = None)